<div>
    <form class="customer" action="/" method="post">
        <input type="text" name="Customer_ID" placeholder="Customer ID" autocomplete="off">
        <input type="text" name="Customer_First_Name" placeholder="Customer First Name" autocomplete="off">
        <input type="text" name="Customer_Last_Name" placeholder="Customer Last Name" autocomplete="off">
        <input type="number" name="Customer_Mobile" placeholder="Customer Mobile" autocomplete="off">
        <input type="text" name="Customer_Email" placeholder="Customer Email" autocomplete="off">
        <button type="submit" name="Submit">Submit</button>
      </form>
</div>